{
    "extends": "react-app",
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": "error",
      "jsx-uses-vars": "off",
      "react/react-in-jsx-scope": "off",
      "react/jsx-filename-extension": [1, {
        "extensions": [".ts", ".tsx"]
      }],
      "@typescript-eslint/no-unused-vars": [
        2,
        { "vars": "all", "args": "all", "varsIgnorePattern": "^jsx$" }
      ]
    }
}